.box {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_input {
    border-radius: 20px;
    margin-bottom: 15px;
    background: transparent;
  }
}
.remove_item {
  background: white;
  margin-left: 10px;
  border-radius: 25px;
  border: none;
  width: 25px;
  height: 25px;
}

.edit_item {
  border-radius: 8px;
  width: 50px;
  background: white;
  border: none;
  margin-bottom: 8px;
  margin-left: 10px;
}

.editing {
  border: solid 1px greenyellow;
}

.button {
  background: black;
  color: white;
  border-radius: 10px;
  width: 110px;
  border: none;
  margin-bottom: 10px;

}

li {
  padding-bottom: 10px;
}
